---
layout: default
---
<div class="home">
  <div class="header_join">
    <div class="slogan_top">Bring Innovation from Vietnam to the World!</div>
    <div class="join_us">
      <a class="btn_join" href="{{ site.link_recruitment }}">JOIN US NOW</a>
    </div>
  </div>
  <div class="post-list">
    {% for post in paginator.posts %}
      <div class="post-item">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} - {{ post.author }}
          {% for category in post.categories %}
            <a href="/categories/{{ category }}"> - {{ category }}</a>
          {% endfor %}
        </span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="img_post" src="{{post.images}}" alt="{{post.images}}"></a>
        <h2>
          <br/>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.summary | truncatewords: 40 }}</p>
        <div class="btn_readmore"><a href="{{ post.url | prepend: site.baseurl }}"><span class="readmore">Read more »</span></a></div>
      </div>
    {% endfor %}
    {% include paginator.html %}
  </div>
  <div class="nav-right">
    {% include nav_right.html %}
  </div>
<br/>
  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
