---
layout: default
---
<div class="home">
  <h1>ZIGExN VeNtura</h1>
  <h1 class="page-heading">Bring Innovation from Vietnam to the World!</h1>
  <div class="post-list">
    {% for post in paginator.posts %}
      <div class="post-item">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} - <a href="#">{{ post.author }}</a>
          {% for category in post.categories %}
            <a href="/categories/{{ category }}"> - {{ category }}</a>
          {% endfor %}
        </span>
        <img class="img_post" src="{{post.images}}" alt="{{post.images}}">
        <h2>
          <br/>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.summary | truncatewords: 50 }}</p>
        <div class="btn_readmore"><a href="{{ post.url | prepend: site.baseurl }}"><span class="readmore">Read more »</span></a></div>
      </div>
    {% endfor %}
    {% include paginator.html %}
  </div>
  <div class="nav-right">
    {% include nav_right.html %}
  </div>
<br/>
  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
