---
layout: default
permalink: /recent_post/
---
<div class="post-content_detail">
  <header class="post-header">
      <h1 class="post-title">Recent post - Monthly articles</h1>
  </header>
  {% assign counter = 0 %}
    {% for post in site.posts %}
      {% assign thisyear = post.date | date: "%B %Y" %}
      {% assign prevyear = post.previous.date | date: "%B %Y" %}
      {% assign counter = counter | plus: 1 %}
      {% if thisyear != prevyear %}
        <li><a href="/recent_post/#{{ post.date | date:"%B-%Y" }}">{{ thisyear }} ({{ counter }})</a></li>
        {% assign counter = 0 %}
      {% endif %}
    {% endfor %}
    <br>
    <hr>
    {% for post in site.posts  %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
      {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

      {% if forloop.first %}
        <h2>{{this_year}}</h2>
        <h4 id="{{ this_month }}-{{ this_year }}">{{ this_month }}</h4>
        <ul>
      {% endif %}
      <li>{{ post.date | date: "%b %-d, %Y" }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% if forloop.last %}
        </ul>
      {% else %}
        {% if this_year != next_year %}
          </ul>
            <h2>{{next_year}}</h2>
            <h4 id="{{ next_month }}-{{ next_year }}">{{ next_month }}</h4>
        <ul>
          {% else %}
          {% if this_month != next_month %}
        </ul>
    <h4 id="{{ next_month }}-{{ next_year }}">{{ next_month }}</h4>
  <ul>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="nav-right">
  {% include nav_right.html %}
</div>
