---
layout: default
title: Articles by tag - Infrastructure
permalink: /tags/infrastructure/
---
<div class="post-content_detail">
  <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
  </header>
<!-- Duyet infrastructure -->
<h2><a href="/categories/infrastructure">Infrastructure</a></h2>
{% for item in site.Infrastructure %}
  {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    {% capture iTag %}{{ tag | first }}{% endcapture %}
    {% capture iItem %}{{ item }}{% endcapture %}
    {% if iTag == iItem %}
    <ul>
      <h4 id="{{ tag | first }}">{{ tag | first }} - ({{ posts | size }})</h4>
      {% for posts in tag %}
        <ul>
          {% for post in posts %}
            {% if post.title != % %}
              <li>
                {% capture flag %}{{ iTag }}{% endcapture %}
                {{ post.date | date: "%b %-d, %Y" }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
  {% if flag != iItem %}
    <ul><h4 id="{{ iItem }}">{{ iItem }} - (0)</h4></ul>
  {% endif %}
{% endfor %}
<!-- Duyet infrastructure=================== -->
</div>

<div class="nav-right">
  {% include nav_right.html %}
</div>