---
layout: default
title: Articles by tag - Ruby on Rails
permalink: /tags_articles_ror/
---
<div class="post-content_detail">
  <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
  </header>
<!-- Duyet RoR -->
<h2><a href="/categories_articles/#ruby on rails">Ruby on rails</a></h2>
{% for item in site.RoR %}
  {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    {% capture iTag %}{{ tag | first }}{% endcapture %}
    {% capture iItem %}{{ item }}{% endcapture %}
    {% if iTag == iItem %}
    <ul>
      <h4 id="{{ tag | first }}">{{ tag | first }} - ({{ posts | size }})</h4>
      {% for posts in tag %}
        <ul>
          {% for post in posts %}
            {% if post.title != % %}
              <li>
                {{ post.date | date: "%b %-d, %Y" }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
 <ul><h4 id="{{ iItem }}">{{ iItem }} - (0)</h4></ul>
{% endfor %}
<!-- Duyet RoR=================== -->
</div>

<div class="nav-right">
  {% include nav_right.html %}
</div>