/**
 * Site header
 */
.wrapper-header{
  max-width: calc(1200px - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
  @include media-query($on-laptop) {
      max-width: -webkit-calc(800px - (#{$spacing-unit}));
      max-width:         calc(800px - (#{$spacing-unit}));
      padding-right: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;
  }
 }
.site-header {
  width: 100%;
  border-top: 5px solid #B11F28;
  border-bottom: 1px solid $grey-color-light;
  min-height: 60px;
  // Positioning context for the mobile navigation icon
  position: fixed;
  z-index: 9999;
  background-color: #333;
}

.site-title {
  font-size: 16px;
  line-height: 60px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  display:block;
  span {
    display:block;
    float: right;
    font-weight: bold;
  }
  &,
  &:visited {
    color: white;
  }
}

.site-nav {
  float: right;
  line-height: 56px;
  .menu-icon {
      display: none;
  }

  .page-link {
    color: white;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
        margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
  position: absolute;
  top: 9px;
  right: 30px;
  background-color: $background-color;
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
          width: 18px;
          height: 15px;

          path {
              fill: $grey-color-dark;
          }
        }
      }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
   .footer-col-1,
  .footer-col-2 {
      width: -webkit-calc(50% - (#{$spacing-unit} / 2));
      width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
       width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit + 70 0;
  padding-bottom: 10px;
}

.page-heading {
  font-size: 20px;
  color: #545454;
}

.post-list {
  width: 75%;
  float: left;
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
  text-align: center;
}
.post-item {
  border: 1px solid $grey-color-light;
  width: 45%;
  height: 480px;
  float: left;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  text-align: center;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  margin-right: 5px;
  max-width: 100%;
  float: left;
  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
        font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
        font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
        font-size: 18px;
    }
  }
}
.post-content_detail {
  margin-bottom: $spacing-unit;
  margin-right: 5px;
  width: 73%;
  float: left;
  h2 {
      font-size: 32px;

      @include media-query($on-laptop) {
          font-size: 28px;
      }
  }

  h3 {
      font-size: 26px;

      @include media-query($on-laptop) {
          font-size: 22px;
      }
  }

  h4 {
      font-size: 20px;

      @include media-query($on-laptop) {
          font-size: 18px;
      }
  }
}

/**
* nav-right
*/
.rss-subscribe{
    width: 100%;
    float: left;
    margin-left: 20px;
    margin-top: 20px
}
.nav-right{
    width: 25%;
    float: right;
}

.business_title{
  color: #33c273;
  font-size: 26px;
}
.global_title{
  color: #ffc633;
  font-size: 26px;
}
.social_title{
  color: #0098d5;
  font-size: 26px;
}
.technology_title{
  color: #e8404d;
  font-size: 26px;
}
.creation_title{
  color: #e85298;
  font-size: 26px;
}
.evolution_title{
  color: #9f4f9d;
  font-size: 26px;
}
.about_title{
  color: #545454;
  text-align: center;
}
.about_nav{
  width: 65%;
  float: left;
}
.img_about{
  width: 35%;
  float: right;
}

.icon_fb{
  max-width: 8%;
}

.ArticleBox_header{
  background: #1C94C6;
  color: #fff;
  font-size: 21px;
  margin: 0;
  padding: 10px 20px;
  text-align: left;
  font-weight: 700;
  border: 2px solid #1C94C6;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.ArticleBox{
  border: 1px solid $grey-color-light;
  background: #fff;
  width: 100%;
  margin: 5px;
  margin-bottom: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.ArticleBox_content {
    position: relative;

}

.ArticleBox_list{
  margin-bottom: 0;
  list-style: none;
  counter-reset: ol-counter;
  margin-left: 10px;

  li {
    position: relative;
    margin: 4px 0;
  }

  a {
    color: #4a4a4a;
    border-bottom: 1px solid #E4E1E1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  a:hover {
    color: #1C94C6;
  }

  ul {
  font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0.5em;
    list-style-position: outside;
    font-family: inherit;
  }
}

.follow{
  margin-left: 10px;
}
.follow img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}
.feedback{
  width: 70%;
  float: left;
  text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn_submit{
  width: 100px;
-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  border-bottom-color:#333;
  border:1px solid #61c4ea;
  background-color:#7cceee;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  color:#333;
  font-family:'Verdana',Arial,sans-serif;
  font-size:16px;
  text-shadow:#b2e2f5 0 1px 0;
  padding:5px
}

.readmore{
    margin-top: 10px;
    cursor: pointer;
    padding: 0 10px;
    float: left;
    border-radius: 6px;
    border: 0;
    background: #024C6B none;
    color: #fff;
    font-size: 14px;
    margin-top: -24px;
}
 .readmore:hover {
    background: #1C94C6;
  }
.btn_readmore{
  margin-top: 30px;
}

.btn_fb{
  border-radius: 0.3em;
    border: 1px solid;
    display: inline-block;
    margin: 1em 0;
    padding: 0.15em 0.25em;
    color: #1ABC9C;
    text-decoration: none;
}

/*****************************************/
.dropdown{
  float: right;
  line-height: 56px;
  height: 56px;
  nav {
    margin: auto;
    background-color: #333;
  }
  nav:after {
    content:"";
    display:table;
    clear:both;
  }
  nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
  }
  nav ul li {
    margin: 0px;
    display:inline-block;
    float: left;
    background-color: #333;
  }

  /* Styling the links */
  nav a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:16px;
    line-height: 60px;
    text-decoration:none;
  }

  /* Background color change on Hover */
  nav a:hover {
    background-color: #4A4646;
  }

  /* Hide Dropdowns by Default
   * and giving it a position of absolute */
  nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
  }

  nav ul li:hover > ul {
    display:inherit;
  }

  nav ul ul li {
    width:200px;
    float:none;
    display:list-item;
    position: relative;
  }

  nav ul ul ul li {
    position: relative;
    top:-60px;

    @media (max-width: 1500px) {right:200px;}
     @media (min-width: 1500px) {left:200px;}

  }

  li > a:after { content:  ''; }
  li > a:only-child:after { content: ''; }
}

.pagination {
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 30px;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.pagination.dark {
    background: #414449;
    color: #feffff;
}

.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}